@import './utils/vars.scss';
@import './utils/mixins.scss';
@import './utils/globals.scss';
@import './components/header';
@import './components/header-library';
@import './components/movies';
@import './components/modal-movie';
@import './components/footer';
@import './components/result__container';