$tablet: 768px;
$desktop: 1280px;

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

//fonts

@mixin text($weight, $size, $line, $color, $family) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  color: $color;
  font-family: $family;
}
