// font
$fonfFamily: 'Roboto', sans-serif;
// colors
$fontColorPrimary: #000; // black
$fontColorSecondary: #fff; // white
$fontColorTertiary: #ff6b02; // orange
$fontColorQuaternary: #545454; //gray
$footerBg: #f7f7f7;
$cookiesBg: #f2f2f2;
$cookiesBtnBg: #4caf50;
$libraryHeaderBtnAfterBg: #ff001b;
$searchInputBottomBorder: #e5e5e5;
$loaderBorder: #ebebec;
$preLoadBg: #000000b4;
$backdropBg: rgba(0, 0, 0, 0.4);
$modalMovieItemLabel: #8c8c8c;
$modalMovieItemSlash: #8c8c8c;
$modalMovieItemValueBg: #f7f7f7;
$paginationArrowBg: #f7f7f7;
// other
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$borderRadius: 5px;
