// font
$fonfFamily: 'Roboto', sans-serif;
// colors
$fontColorPrimary: #000; // black
$fontColorSecondary: #fff; // white
$fontColorTertiary: #ff6b02; // orange
$fontColorQuaternary: #545454; //gray
$footerBg: #f7f7f7;
// other
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$borderRadius: 5px;
