$fonfFamily: 'Roboto', sans-serif;
$fontColorPrimary: #000; // black
$fontColorSecondary: #fff; // white
$fontColorTertiary: #ff6b02; // orange
$fontColorQuaternary: #545454; //gray
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$borderRadius: 5px;
$tablet: 768px;
$desktop: 1200px;


