<div class="backdrop-students is-hidden-students" data-modal-students>
  <div class="modal-students">
    <button type="button" class="modal-students__btn" data-modal-students-close>x</button>
    <div class="modal-students__content">
      <ul class="modal-students__list">
        <li class="modal-students__item">
          <img
            src="./images/av-rafal-m.jpeg"
            alt="team leader rafał mieczkowski"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Team Leader</b></p>
              <p>Rafał Mieczkowski</p>
              <p>Kiler-ów 2-óch</p>
              <p>41</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-mateusz.jpg"
            alt="scrum master mateusz kubiak"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Scrum Master</b></p>
              <p>Mateusz Kubiak</p>
              <p>300</p>
              <p>45</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-marlena.jpeg"
            alt="developer marlena wojtczak"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Developer</b></p>
              <p>Marlena Wojtczak</p>
              <p>Spider-Man</p>
              <p>41</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-kasia.jpeg"
            alt="developer katarzyna wójcikowska"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Developer</b></p>
              <p>Katarzyna Wójcikowska</p>
              <p>Atlas Chmur</p>
              <p>39</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-pawel.jpeg"
            alt="developer paweł szopiński"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Developer</b></p>
              <p>Paweł Szopiński</p>
              <p>Leon Zawodowiec</p>
              <p>45</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-rafal-b.jpg"
            alt="developer rafał barczak"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Developer</b></p>
              <p>Rafał Barczak</p>
              <p>Obecność</p>
              <p>44.5</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-magda.jpg"
            alt="developer magdalena juszczyk-bukowiecka"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Developer</b></p>
              <p>Magdalena Juszczyk</p>
              <p>Dawno temu w Ameryce</p>
              <p>40</p>
            </div>
          </div>
        </li>
        <li class="modal-students__item">
          <img
            src="./images/av-natalia.jpg"
            alt="developer natalia rakoczy"
            width="200"
            height="200"
          />
          <div class="modal-students__item-text">
            <div class="modal-students__item-left-side">
              <p>Funkcja:</p>
              <p>Dane:</p>
              <p>Film:</p>
              <p>But:</p>
            </div>
            <div>
              <p><b>Developer</b></p>
              <p>Natalia Rakoczy</p>
              <p>1917</p>
              <p>39</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
