<div class="backdrop-students is-hidden-students" data-modal-students>
  <div class="modal-students">
    <button type="button" class="modal-students__btn" data-modal-students-close>x</button>
    <div class="modal-students-content">
      <ul>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
        <li>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
          <p>xxbbbbbbbbbbbbbbx</p>
        </li>
      </ul>
    </div>
  </div>
</div>
