<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__rights">© 2023 | All Rights Reserved |</div>
      <div>
        <span class="footer__dev">Developed with</span>
        <svg class="footer__svg">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <span class="footer__goit">
          by <a class="footer__link" data-modal-students-open>GoIT Students</a>
        </span>
      </div>
    </div>
  </div>
</footer>
