<header class="header">
  <nav class="header__nav container">
    <a href="./index.html">
      <div class="logo__wrapper">
        <svg class="logo__icon" width="24" height="24">
          <use href="/src/images/header.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </div>
    </a>
    <ul class="header__navigation">
      <li>
        <a class="header__navigation-link header__primary-link" href="../index.html">HOME3</a>
      </li>
      <li>
        <a class="header__navigation-link" href="./library.html">MY LIBRARY</a>
      </li>
    </ul>
  </nav>
  <form class="header__form">
    <label class="form__label">
      <input type="text" class="form__input" placeholder="Movie search" />
      <button type="submit" class="form__button">
        <svg class="form__icon" width="16" height="16">
          <use href="/src/images/header.svg#icon-search"></use>
        </svg>
      </button>
    </label>
  </form>
</header>
