<div class="container">
  <div class="movies-list">
    <!-- movie posters -->
    <div class="movie-card">
      <a href="#"> <img class="movie-poster" src="./images/posters/poster1.png" /></a>
      <ul class="movie-short-descr">
        <li class="movie-title">Movie title</li>
        <li class="movie-genre">Movie genre | Movie year</li>
      </ul>
    </div>
    <div class="movie-card">
      <a href="#"> <img class="movie-poster" src="./images/posters/poster2.png" /></a>
      <ul class="movie-short-descr">
        <li class="movie-title">Movie title</li>
        <li class="movie-genre">Movie genre | Movie year</li>
      </ul>
    </div>
    <div class="movie-card">
      <a href="#"> <img class="movie-poster" src="./images/posters/poster3.png" /></a>
      <ul class="movie-short-descr">
        <li class="movie-title">Movie title</li>
        <li class="movie-genre">Movie genre | Movie year</li>
      </ul>
    </div>
    <div class="movie-card">
      <a href="#"> <img class="movie-poster" src="./images/posters/poster4.png" /></a>
      <ul class="movie-short-descr">
        <li class="movie-title">Movie title</li>
        <li class="movie-genre">Movie genre | Movie year</li>
      </ul>
    </div>
  </div>
</div>
