.example-box {
  border: 2px solid;
  &__title {
    padding: 15px;
  }
  &__img {
    width: 200px;
    padding: 15px;
    @include tablet {
      width: 300px;
    }
    @include desktop {
      width: 400px;
    }
  }
}
