.footer {
  background: $footerBg;
  padding: 30px 0px;

  &__content {
    @include text(400, 14px, 1.14, $fontColorQuaternary);
    text-align: center;

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__svg {
    width: 14px;
    height: 15px;
  }

  &__rights {
    padding-bottom: 10px;

    @include tablet {
      padding-bottom: 0px;
    }
  }

  &__goit {
    padding-left: 6px;
  }

  &__dev {
    padding-right: 6px;

    @include tablet {
      padding-left: 5px;
    }
  }

  &__link {
    text-decoration: underline;
    color: $fontColorQuaternary;
    cursor: pointer;
  }
}
