.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: url("../images/Background-Mobile.png");

    @include tablet {
        background: url("../images/Background-Tablet.png");
    }

    @include desktop {
        background: url("../images/Background-Desktop.png");
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $fontColorPrimary;
    height: 230px;

}
.input-container {
    position: relative;
  }
  .search-input {
    background-color: transparent;
    padding-right: 30px; /* Ustal dowolną wartość dla miejsca na ikonę */
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 0.5px solid white;
  }
  .icon-container {
    position: absolute;
    top: 50%;
    right: 5px; /* Ustal dowolne odstępy dla pozycji ikony */
    transform: translateY(-50%);
    pointer-events: none; /* Zapobiega aktywacji kliknięć na ikonę */
    color: white; /* Kolor ikony */
    fill: white;
  }
  