.pagination-container {
  display: flex;
  width: 374px;
  margin: 60px auto;
  justify-content: space-between;
}
.pagination-button {
  cursor: pointer;
  height: 40px;
  background-color: $fontColorSecondary;
  border: none;
  border-radius: $borderRadius;
  &--next {
    background-color: #f7f7f7;
    width: 40px;
  }
  &--previous {
    background-color: #f7f7f7;
    width: 40px;
  }
  &--current {
    background-color: $fontColorTertiary;
    color: $fontColorSecondary;
    width: 40px;
  }
}
