.pagination-container {
  display: flex;
  width: 280px;
  margin: 60px auto;
  justify-content: space-between;

  @include tablet {
    width: 374px;
  }
}

.pagination-button {
  cursor: pointer;
  height: 40px;
  background-color: $fontColorSecondary;
  border: none;
  border-radius: $borderRadius;
  flex-grow: 1;
  &:disabled {
    pointer-events: none;
  }
  &:disabled:not(.pagination-button--next, .pagination-button--previous) {
    color: $fontColorPrimary;
  }
  &--next {
    background-color: #f7f7f7;
    flex: 0 0 40px;
  }
  &--previous {
    background-color: #f7f7f7;
    flex: 0 0 40px;
  }
  &--current {
    background-color: $fontColorTertiary;
    color: $fontColorSecondary;
    flex: 0 0 40px;
  }
}
