.result-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 320px;
  
    @include tablet {
      gap: 32px;
      margin-top: 59px;
      max-width: 768px;
    }
  
    @include desktop {
      gap: 16px;
      margin-top: 60px;
      max-width: 1280px;
    }
  }
  .movie {
    &__card {
      width: 280px;
  
      @include tablet {
        width: 336px;
      }
  
      @include desktop {
        width: 394px;
      }
    }
    &__poster {
      border-radius: 5px;
      max-width: 100%;
      cursor: pointer;
    }
    &__short-descr {
      margin-top: 12px;
      @include text(500, 12px, 16px, $fontColorPrimary);
  
      @include desktop {
        @include text(500, 20px, 24px, $fontColorPrimary);
      }
    }
    &__title {
      text-transform: uppercase;
    }
    &__genre {
      color: $fontColorTertiary;
    }
  }